<div class="small-card__container">
    <div class="small-card__image">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu0h-eYZ3pcgjTui04kyzpf1k4ynaEd1ul6KAvIfgAjftZjTLKIxqDVufia1M8qgaoo_E&usqp=CAU" alt="">

    </div>

    <div class="small-card__text">

        <div class="small-card__data">
            
            <span>By: JuniorDeSouza</span>

        </div>

        <div class="small-card__title">
    
            <h2>small card component new title. Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
    
        </div>

    </div>

</div>
